.Step {
	padding-top: 1rem;
	.content {
		.title {
			p {
				text-align: center!important
			}
		}
		.Form-form {
			width: 100%;
			padding: 0 var(--padding-x);
			@include tablet {
				padding: 0;
				max-width: 450px;
			}
			margin: 6rem auto;
			button {
				width: 100%;
			}
		}
	}
}

.Success .content {
	max-width: 500px;
	margin: auto;
	.content-title {
		margin-bottom: 1.5rem;
	}
	* {
		text-align: center!important;
	}
	button {
		margin-top: 1rem;
	}
}

.content-global-error {
	padding: 1rem;
	background-color: var(--danger-opacity-1);
	color: var(--danger);
	text-align: center;
	margin-top: 1.25rem;
	border-radius: var(--border-radius);
	box-shadow: 0px 15px 45px var(--danger-opacity-1);
	p {
		font-weight: 500;
	}
}

@import "step-nav";
@import "file";