.File {
	padding: 1.25rem 1.75rem;
	border-radius: var(--border-radius);
	border: 1px solid var(--gray-300);
	&-header {
		&-required {
			p {
				font-weight: 600;
				color: var(--danger)
			}
		}
		margin-bottom: 1.5rem;
	}
	&-description {
		margin-bottom: 1.5rem;
	}
	&-expiry {
			@include tablet {
				max-width: 30%;
			}
	}
	&-file {
		.input {
			max-width: 250px;
		}
	}
}

.content-files-wrapper {
	margin: 2rem auto 10rem;
}